html, body {
    margin: 0;
    height: 100%;
    background-color: #000000;
}

#nav-main {
    z-index: 1;
}

main {
    height: 100vh;
    width: 100%;
    background: url("img/mobile-wallpaper.png");
    background-repeat: no-repeat;
    background-size: 100%;

}

#landing-parent {
    font-family: 'Red Hat Mono', monospace;
}


#landing-h1 {
    margin: 5em 0 0 0;
}

#pop-body-glitch {
    width: 100%;
    height: 400px;
    margin: 150px 0 0 0;
}

#card-parent {
    width: 12em;
    height: 9em;
    margin: 5px;
    color: #FFFFFF;
    border-radius: 40px 40px;

}

#card-parent:hover .hide {
    display: block;
}

#card {
    width: 100%;
    border: 5px solid #000000;
}

.hide {
    display: none;
    width: 100%;
    height: 15em;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.80);
    border-radius: 40px 40px;
    font-family: 'Red Hat Mono', monospace;
    font-size: 10px;
}

h5 {
    padding: 10px 3px 0 3px;
    text-align: center;
}

ul {
    width: 100%;
    padding: 0;
    margin: 0 0 25px 0;
    list-style: none;
}

li {
    width: 100%;
    padding: 0;
    margin: 0;
}

.delete-button {
    width: 35%;
    text-align: center;

}

#nav-nav-nav {
    background: #717171;
}

/* Extra large devices (large desktops, 1200px and up to 1668) */
@media screen and (min-width:1200px) {

    main {
        height: 100vh;
        width: 100%;
        background: url("img/old-tv-wallpaper-1080p.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    #landing-parent {
        margin: 0 10em 0 0;
    }

    #pop-body-glitch {
        width: 85%;
        height: 200px;
        margin: 0 0 0 0;
    }

}

/* Extra large devices (large desktops, 1669px and up) */
@media screen and (min-width:1669px) {

    main {
        height: 100vh;
        width: 100%;
        background: url("img/old-tv-wallpaper-1080p.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    #landing-h1 {
        margin: 7.5em 0 0 0;
    }

    #landing-parent {
        margin: 0 15em 0 0;
    }

    #pop-body-glitch {
        width: 85%;
        height: 200px;
        margin: 0 0 0 0;
    }

}
